.a{
    width: 1510px;
    height: 70px;
    background-color: burlywood;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    position: relative;
}

.a:link{
    width: 115px;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
}

img{
    width: 1525px;
    height: auto;
}

.tulisan{
    color: black;
}



.home:link{
    color: white;
    font-size: 40px;
    text-decoration: none;
}

.home:visited{
    color: white;
    font-size: 40px;
    text-decoration: none;
}

body{
    margin: 0px;
}

.rgb{
    color: white;
    display: flex;
    flex-flow: row;
    padding-left: 70px;
    margin-left: 70px;
    font-size: 20px;
}

.r{
    color: white;
    margin-left: 20px;
    margin-right: 40px;
    text-decoration: none;
}

.g{
    color: white;
    margin-left: 20px;
    margin-right: 40px;
    text-decoration: none;
}

.b{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.helo{
    color:black;
    text-align: center;
    margin-top: 0px;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 20px;
    margin-bottom: 0px;

}


.pit{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
}

.pot{
    width: 25pc;
    height: 25pc;
    padding-right: 100px;
}

.pet{
    width: 25pc;
    height: 25pc;
    padding-right: 100px;
}

.pul{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.lag{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.log{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

/* .jav{
    flex-wrap: wrap;
} */

.oi{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.op{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.pil{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.pop{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.ice{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.ule{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.tit{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.tut{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.tet{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.res{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.ros{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.rus{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.ter{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.tar{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}

.tur{
    height: 25pc;
    width: 25pc;
    padding-right: 100px;
    padding-bottom: 40px;
}